
#navbar{
	margin-top: 20px 0px 10px 10px;
	padding: 20px 0px 5px 5px;
	}
	
img {
  max-width: 100%
}

input, textarea {
  max-width:100%
}
	
.container-fluid{
	text-align: center;
	color: #F8F8F8;
	font-family: 'Lato', sans-serif;
	background-color:#339933;
	padding: 40px 40px;
	margin-bottom: 30px;
	}

.container-fluid img{
	height: 90px;
	width: 90px;
	margin-top: 20px;
	margin-bottom: 30px;
	}

.row{
	text-align: center;
	}
	
#homepage h1{
	font-size: 65px;
	}
	
#homepage {
    overflow: hidden;
}    

#aboutpage {
    overflow: hidden;
	text-align: center;
}    

.housephotos{
	margin-left: 450px;}

.coolstuff{
	margin-left: 355px;
	}

.coolstuff h3{
	margin-left: 235px;
	}
	
#slideshow {
   text-align: center;
	}

.manualrow{
	text-align: center;
	margin: 70px 100px;
	padding-bottom: 200px;
	}

#manual{
	background-image: url("https://scontent-b-dfw.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1958454_10203858068881752_5570718052676676343_n.jpg?oh=37546af66c4d3e28f2d80083f65c3c86&oe=55505878");
	}
	
.container2{
	text-align: justify;
	text-align: center;
	margin-top: 20px;
	}
	
.container-fluid2{
	border: solid;
	border-color: #339933;
	background-color: #339933;
	padding-bottom: 10px;
	color: #F8F8F8;
	}
	
.contactuscontainer{
	margin-bottom: 300px;
	}

@-ms-viewport{
  width: device-width;
}
	
#calendar{
	margin-left: 190px;
	padding-left: 50px;
	float: center;
	}
	
#header{
	padding: 20px 20px;
	}

#footer {
    background-color:white;
    color:black;
    clear:both;
    text-align:center;
	padding-top: 100px;
	padding-bottom: 5px;
	}
	
	
