
/* Smartphones (portrait and landscape) ----------- */  
@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px) {  
/* Styles */  
}  
  
/* Smartphones (landscape) ----------- */  
@media only screen   
and (min-width : 321px) {  
/* Styles */  
}  
  
/* Smartphones (portrait) ----------- */  
@media only screen   
and (max-width : 320px) {  
/* Styles */  
}  
  
/* iPads (portrait and landscape) ----------- */  
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px) {  
/* Styles */  
}  

/* unvisted link */
a{
	color: #FFFFFF;
	}
/* visited link */
a:visited {
    color: #FFFFFF;
	text-decoration:none;
}

/* mouse over link */
a:hover {
    color: #CCCCFF;
    text-decoration:none;
}

/* selected link */
a:active {
	color: #FFFFFF;
	text-decoration:none;
}

@-ms-viewport{
	width: device-width;
}
	
#homeevents{
	margin-left: 430px;
	margin-top: 55px;
	font-size: 25px;
	color: white;
	position: absolute;
	display: inline;
	text-decoration:none;
	border-bottom: 5px solid white;
	}
#homecontact{
	margin-left: 530px;
	margin-top: 55px;
	font-size: 25px;
	color: white;
	position: absolute;
	display: inline;
	text-decoration:none;
	border-bottom: 5px solid white;
	}
.homemore{
	margin-left: 650px;
	margin-top: 55px;
	font-size: 25px;
	color: white;
	position: absolute;
	display: inline;
	text-decoration: none;
	border-bottom: 5px solid white;
	}
	
  ul {list-style: none; padding: 0px;}
  ul li {display: block; position: relative; float: left; border: none}
  li ul {display: none;}
  ul li a {display: text-decoration: none; white-space: nowrap; color: white;}
  ul li a:hover {background: none;}
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;}
  li:hover a {background: none;}
  li:hover li a:hover {background: none;}
  #drop-nav li ul li {border-top: 0px;
  }
 
.home img{
	position: fixed;
	height: 700px;
	width: 1400px;
	}

.home p{
	position: absolute;
	margin-top: 490px;
	margin-left: 580px;
	}

.container-fluid2{
	height: 700px;
	width: 1500px;
	background-color: white;
	}
#overflow{
	overflow: hidden;
	}
	

	
	


	
	
