
#navbar{
	margin-top: 20px 0px 10px 10px;
	padding: 20px 0px 5px 5px;
	}
	
img {
  max-width: 100%
}

input, textarea {
  max-width:100%
}

/* Smartphones (portrait and landscape) ----------- */  
@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px) {  
/* Styles */  
}  
  
/* Smartphones (landscape) ----------- */  
@media only screen   
and (min-width : 321px) {  
/* Styles */  
}  
  
/* Smartphones (portrait) ----------- */  
@media only screen   
and (max-width : 320px) {  
/* Styles */  
}  
  
/* iPads (portrait and landscape) ----------- */  
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px) {  
/* Styles */  
}  

	
.container-fluid{
	text-align: center;
	color: #F8F8F8;
	font-family: 'Lato', sans-serif;
	background-color:#339933;
	padding: 40px 40px;
	margin-bottom: 30px;
	}

.container-fluid img{
	height: 90px;
	width: 90px;
	margin-top: 20px;
	margin-bottom: 30px;
	}

.row{
	text-align: center;
	}
	
.history{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 1px;
	}
	
#homepage h1{
	font-size: 65px;
	}
	
#homepage {
    overflow: hidden;
}    

#aboutpage {
    overflow: hidden;
	text-align: center;
}    

.housephotos{
	margin-left: 370px;
	}

.coolstuff{
	margin-left: 370px;
	}

.coolstuff h3{
	margin-left: 235px;
	}

.coolinfo{
	margin-left: 420px;
	margin-bottom: 50px;
	margin-top: 50px;
	}

.coolinfo h3{
	margin-left: 150px;
	margin-top: 50px;
	}
	
	
#slideshow {
   text-align: center;
	}

.manualrow{
	text-align: center;
	margin: 70px 100px;
	padding-bottom: 200px;
	}

#manual{
	background-image: url("https://scontent-b-dfw.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1958454_10203858068881752_5570718052676676343_n.jpg?oh=37546af66c4d3e28f2d80083f65c3c86&oe=55505878");
	}
	
.container2{
	text-align: justify;
	text-align: center;
	margin-top: 20px;
	}
	
.container-fluid2{
	border: solid;
	border-color: #339933;
	background-color: #339933;
	padding-bottom: 10px;
	color: #F8F8F8;
	}
	
.contactuscontainer{
	margin-bottom: 300px;
	}

table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}

table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:30px;
	text-shadow: 1px 1px 0px #fff;
	background:#FFFFFF; 
	margin-left:400px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

@-ms-viewport{
  width: device-width;
}
	
#calendar{
	margin-left: 190px;
	padding-left: 50px;
	float: center;
	}
	
#header{
	padding: 20px 20px;
	}

#footer {
    background-color:white;
    color:black;
    clear:both;
    text-align:center;
	padding-top: 100px;
	padding-bottom: 5px;
	}
	
#coolfooter{
	background-color:white;
	color: black;
	text-align: center;
	margin-top: 170px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
	
